<!doctype html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <style type="text/css">
        body {font-size: 12px; font-family: Arial, Helvetica, sans-serif; color:#76777b; margin:0;padding:0}
        table {margin:0 auto;}
        td {padding:0 10px;}
        p span {font-size:12px;}
        thead td img {margin:15px 0}
        tbody td {
            padding:10px 40px;
        }
        h1 {font-size:16px; text-transform: uppercase; font-weight: 300;margin:0;color:white;}
    </style>

</head>
<body>

<table cellspacing="0" cellpadding="0" width="100%">
    <thead>
    <tr>
        <td bgcolor="#2a2c33">
            <table cellspacing="0" cellpadding="0" width="800">
                <tr>
                    <td align="right">
                        <h1>Inscription à la newsletter Columbia</h1>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td align="left" colspan="2">
            <table cellspacing="0" cellpadding="0" width="800">
                <tr>
                    <td>
                        <p>Bonjour,
                        </p>
                        <p>Nous vous confirmons votre inscription à la newsletter de Columbia pour le(s) contexte(s) suivant(s) : <span th:text="${contextes}"></span></p>
                        <p>Vous recevrez un compte-rendu hebdomadaire le vendredi matin, à 8h50.</p>
                        <p>__</p>
                        <p>Si vous n'êtes pas à l'origine de cette demande, cliquez ici : <a th:href="${url}"><span th:text="${url}"></span></a> .</p>
                        <p>En vous souhaitant une bonne journée,</p>
                        <p>L'équipe de Columbia</p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
